@model ApplicationCore.Models.MovieDetailsResponseModel

@{
    ViewData["Title"] = "Details";
}

@*1. Craete Details View for Movie, and show all the movie details as per the MovieDetails Screenshot
https://getbootstrap.com/docs/4.6/components/list-group/
https://getbootstrap.com/docs/4.6/components/buttons/
https://getbootstrap.com/docs/4.6/components/badge/
https://getbootstrap.com/docs/4.6/layout/grid/
https://fontawesome.com/

2. Create a PartialView to show Genres in the Header as List 
    Create GenreRepository => ALL Genres
    Creare GenreService => Call GenreRepo
    All services and Repos should use DI and create Interfaces
    https://getbootstrap.com/docs/4.6/components/dropdowns/
    When I click on Genre i should show movies belong to that genres (reuse the movie cards)

3. Create a Page for Cast Details
  Craete CastController, CastService and CastRepository which has Cast
Details Mehthod, All the Movies that the cast belongs to includind the cast details*@
<div>
        <div class="row">
            <div class="col-4">
                <div class="card shadow bg-light ">
                    <img src="@Model.PosterUrl" class="img-fluid" alt="@Model.Title">
                </div>
            </div>
            <div class="col-4">
                <h2 class="text-black-50">@Model.Title</h2><br>

                <div>@Model.RunTime |  @Convert.ToDateTime(Model.ReleaseDate).Year 
                
                @foreach (var genre in Model.Genres)
                {
                    <span class="badge badge-secondary">@genre.Name</span>
                }
                </div>
                
                <span class="badge badge-warning">@Model.Rating</span>
                <p>@Model.Overview</p>
            </div>
            <div class="col-4">
                model.dsfsdf
            </div>
        </div>
        <div class="row">
            
            <div class="col-4">
                <div><h3>MOVIE FACTS</h3></div>
                <div class="font-weight-light">
                    <div>@Convert.ToDateTime(Model.ReleaseDate)</div>
                    <div>@Model.RunTime</div>
                    <div>@Model.Revenue</div>
                    <div>@Model.Budget</div>
                    <div></div>
                </div>
            </div>
            <div class="col-4">
                <div><h3>CASTS</h3></div>
                @foreach (var cast in Model.Casts)
                {
            <div><img src="@cast.ProfilePath" alt="{@cast.Name} Profile" /> @cast.Name   @cast.Character</div>
                }
            </div>
            <div class="col-4">
                model.Titlesfsdfasd
            </div>
        </div>

</div>

